th{
    color:white;
    padding: 4px;
}

thead{
    background-color: #764781;
}

td{
    padding: 5px;
}
tr{
    border-top: 1px solid #e4e4e4;
}

table{
    border:1px solid #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
}

tbody tr:nth-child(even)
{
  background: rgb(221, 221, 221);
}