.slider-dragger{
    height: 2px;
    width: 10px;
    background-color: #cccccc;
}

.dispensary-name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}